<p id="notice"><%= notice %></p>

  <p>
    <strong>Tipo servicio:</strong>
    <%= @servicio.tiposervisio %>
  </p>

  <p>
    <strong>Tarifa:</strong>
    <%= @servicio.tarifa %>
  </p>







<%= link_to 'Edit', edit_servicio_path(@servicio) %> |
<%= link_to 'Back', servicios_path %>
