<p id="notice"><%= notice %></p>

<h1>Lista de Animals</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Raza</th>
      <th>Color</th>
      <th>Tamano</th>
      <th>Fechanacimiento</th>
      <th>Cliente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <td><%= animal.nombre %></td>
        <td><%= animal.raza %></td>
        <td><%= animal.color %></td>
        <td><%= animal.tamano %></td>
        <td><%= animal.fechanacimiento %></td>
        <td><%= animal.cliente.nombre %></td>
        <td><%= link_to 'Show', animal %></td>
        <td><%= link_to 'Edit', edit_animal_path(animal) %></td>
        <td><%= link_to 'Destroy', animal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Animal', new_animal_path %>
