<p id="notice"><%= notice %></p>

  <p>
    <strong>Nombre:</strong>
    <%= @animal.nombre %>
  </p>

  <p>
    <strong>Raza:</strong>
    <%= @animal.raza %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= @animal.color %>
  </p>

  <p>
    <strong>Tamano:</strong>
    <%= @animal.tamano %>
  </p>

  <p>
    <strong>Fecha Nacimiento:</strong>
    <%= @animal.fechanacimiento %>
  </p>

  <p>
    <strong>cliente:</strong>
    <%= @animal.cliente.nombre %>
  </p>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
