<h1>Cliente: <%= @animal.cliente.nombre %></h1>
<h2>Animal: <%= @animal.nombre %></h2>
<h2>Color: <%= @animal.color %></h2>
<h2>Raza: <%= @animal.raza %></h2>

<p>Servicios del Animal: </p>
<% @servicios.each do |servicio| %>

  <strong>Tipo servicio:</strong>
  <%= servicio.tiposervisio %>
  <strong>Tarifa:</strong>
  <%= servicio.tarifa %>
  <br>
  <% end %>


<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>
